/* google fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.website-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.website-description {
    color: #727272;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}

.btn-style {
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
}

/* header related styles */
header {
    background: rgba(255, 144, 14, 0.10);
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 130px;
}

nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 26px;
}

/* banner related styles */
.banner-container {
    text-align: center;
    padding: 20px 240px 30px;
}

.banner-content {
    text-align: center;
    max-width: 862px;
}

.banner-container img {
    width: 100%;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin: 5px;
}

/* main related styles */
main {
    max-width: 1440px;
    margin: 70px auto;

}

/* feature related styles */
.feature-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;

}

.feature-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* .feature-img-container img {
    width: 100%;
} */

.feature-content .website-description {
    max-width: 540px;
    text-align: left;
}

#gray-text {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

#org-text {
    color: #FF900E;
    font-weight: 700;
}









@media screen and (max-width:992px) {

    nav,
    .feature-container {
        flex-direction: column;
    }

    .banner-container,
    nav {
        padding: 20px;
    }

    nav ul {
        gap: 20px;
        padding: 0;
    }

    .feature-img-container {
        grid-template-columns: 1fr;
    }

    .feature-img-container img {
    width: 100%;
}
.feature-container, .feature-content{
    margin: 20px;
}
}